{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/index.css",
  "tailwindFunctions": ["clsx", "cn", "cva", "tw"],
  "tailwindPreserveWhitespace": false,
  "tailwindPreserveDuplicates": false
}
